version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: fleet_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: fleet
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: backend
    restart: always
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: 123456
      DB_NAME: fleet
    ports:
      - "8080:8080"
    depends_on:
      - mysql

volumes:
  db_data:
